* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #080C20;
    color: #777F98;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

h1, h2, h3 {
    color: white;
    font-weight: 800;
}

h1 {
    font-size: 48px;
    line-height: 56px;
}

h1 span {
    color: #3EE9E5;
}

.hero {
    overflow-x: clip;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hero-image-left {
    display: none; /* doesn't exist on mobile */
}

.hero-image-right {
    display: none; /* doesn't exist on mobile */
}

.hero-content-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .hero {
        margin-top: 0;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 110px;
    }

    .hero-image-left {
        display: block;
        width: 35%;
        flex-shrink: 1;
        position: relative;
        left: -60px;
    }

    .hero-image-right {
        display: block;
        width: 35%;
        flex-shrink: 1;
        position: relative;
        right: -60px;
    }

    .hero h1 {
        margin-bottom: 24px;
        width: 730px;
        padding: 0 2rem 0 2rem;
    }

    .hero p {
        margin-bottom: 64px;
        width: 540px;
    }

    .container {
        width: 1100px;
        margin: 0 auto;
    }

    .benefits {
        display: flex;
        gap: 30px;
        height: 383px;
        margin-bottom: 202px;
    }

    .benefit-image-box {
        width: 160px;
        height: 164px;
        background: #093F68;
        border-radius: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 48px;
    }

    .benefit-heading {
        margin-bottom: 23px;
    }

    .benefits .benefit:nth-child(odd) {
        align-self: flex-start;
    }

    .benefits .benefit:nth-child(even) {
        align-self: flex-end;
    }

    .pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing-header {
        width: 540px;
        text-align: center;
        margin-bottom: 72px;
    }

    .pricing-boxes {
        display: flex;
        gap: 30px;
    }

    .pricing-box {
        width: 445px;
        height: 425px;
        background: #093F68;
        border-radius: 8px;
        color: #FFFFFF;
    }

    .pricing-box p {
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .paid-plan-box {
        height: 482px;
        background: #3EE9E5;
        color: #080C20;

        mix-blend-mode: normal;
        opacity: 0.6;
    }
    
    .paid-plan-box h3 {
        color: #080C20;
    }
}